body {
    color: rgb(255, 255, 255);
    background: rgb(253, 71, 168);
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px;
    padding: 20px;
    font-size: 28px;
    color:rgb(248, 216, 232)
}

.chamada {
    background: #f80170;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex; 
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 { 
    font-size: 30px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(128, 0, 70);
}

.categoria h2 {
    color: rgb(248, 216, 232);
}
